.hgcwYqyh-line {
					width: 100%;
					display: block;
					transform-style: preserve-3d;
				}
				.hgcwYqyh-word-wrapper {
					display: inline-block;
					transform-style: preserve-3d;
					white-space: pre;
				}
				.hgcwYqyh-span {
					display: inline-block;
					transform-style: preserve-3d;
					white-space: pre;
					will-change: transform, color, text-shadow;
					transform-origin: 50% 50%;
				}
